.button {
    background: var(--color-primary);
    border: none;
    border-radius: 8px;
    padding: 12px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    cursor: pointer;

    &_secondary {
        background: #FFFFFF;
        color: var(--color-primary);
    }

    &_wide {
        width: 100%;
    }
}
