.modal-container {
    width: 340px;
    min-height: 257px;
    padding: 30px;
    border-radius: 12px;
    background: var(--color-background-modal);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
}
