:root {
  --color-primary: #3369F3;
  --color-secondary: #E4EDFD;
  --color-background: #FFFFFF;
  --color-background-modal: #FFFFFF;
  --color-text-primary: #1E1E1E;
  --color-text-secondary: #999999;
  --color-error: #FF2F2F;
  --color-border: #EAEAEA;
}

